<div class="M_InspectraNumberedPlug">
    <span class="M_InspectraNumberedPlug-Order text-p-1-mono"><%= local_assigns[:order] %></span>
    <p class="M_InspectraNumberedPlug-Text text-p-1-mono"><%= local_assigns[:text] %></p>
</div>