<div class="M_InspectraTextPlug" <%= "style=\"max-width: #{local_assigns[:max_width]};\"".html_safe if local_assigns[:max_width] %>>
  <span class="M_InspectraTextPlug-Order text-h3"><%= local_assigns[:order] %></ы>
  <div class="M_InspectraTextPlug-TextWrap">
    <p class="M_InspectraTextPlug-Label text-p-1-mono"><%= local_assigns[:text] %></p>
  </div>
</div>