.C_ControlPanelTableRow{
    display: flex;
    width: 100%;
    padding: var(--spacing-x2);
    border-bottom: 1px solid var(--color-border-primary);
}

.C_ControlPanelTableRow:nth-child(odd){
    background: var(--color-primary);
}

.C_ControlPanelTableRow:nth-child(even){
    background: var(--color-secondary);
}

.C_ControlPanelTableRow:last-child{
    border-bottom: none;
}

.C_ControlPanelTableRow-Cell{
    flex: 1;
    color: var(--color-text-primary);
    padding: var(--spacing-x2) 0;
}
