.C_ControlPanelTableHeaderRow{
    display: flex;
    width: 100%;
    padding: var(--spacing-x2);
    border-bottom: 1px solid var(--color-border-primary);
}

.C_ControlPanelTableHeaderRow-Cell{
    flex: 1;
    color: var(--color-text-primary);
}
