.Q_InspectraBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.Q_InspectraBackground:has(canvas) {
    height: auto;
    min-height: 100vh;
}

.Q_InspectraBackground-Canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

