.Q_InspectraBackground {
    position: absolute;
    top: var(--spacing-x6);
    left: 0;
    right: 0;
    bottom: var(--spacing-x6);
    z-index: -1;
}

.Q_InspectraBackground-Canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

