<div class="Q_TimeLine" data-js-timeline>
  <div class="Q_TimeLine-Fill" data-js-timeline-fill></div>
  <input type="range" class="Q_TimeLine-Input" min="0" max="100" value="0" data-js-timeline-seek aria-label="Позиция" />
</div>
