.PageAbout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 var(--spacing-x4);
    gap: var(--spacing-x16);
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
.PageAbout-Section-Main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x24);
    padding-top: var(--spacing-x24);
}
  
.PageAbout-Section-Title{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x10);
    padding: var(--spacing-x2) var(--spacing-x5);
    border-radius: var(--border-radius-x5);
    background: var(--color-secondary);
    border: var(--border-x05) solid var(--color-border-tertiary);
}
  
.PageAbout-Section-Main-Content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x16);
}
  
.PageAbout-Section-Main-Content-Plate{
    padding: var(--spacing-x16) var(--spacing-x8);
    background: var(--color-secondary);
    border: var(--border-x05) solid var(--color-border-primary);
}
  
.PageAbout-Section-Main-Content-Square{
    align-self: flex-end;
}
  
.PageAbout-Section-Content-Interactions{
    display: flex;
    gap: var(--spacing-x3);
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
.PageAbout-Section-About{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: var(--spacing-x14);
}
  
.PageAbout-Section-Info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x14);
}

.PageAbout-Section-Info-Blocks{
    display: flex;
    width: 100%;
    gap: var(--spacing-x14);
}

.PageAbout-Section-Modules{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x14);
}

.PageAbout-Section-Modules-Blocks{
    display: flex;
    width: 100%;
    gap: var(--spacing-x4);
}

.PageAbout-Section-Modules-Text{
    padding-left: var(--spacing-x5);
    display: flex;
    gap: var(--spacing-x3);
    border-left: var(--border-x05) dashed var(--color-accent);
}

.PageAbout-Section-Modules-Text-Title{
    color: var(--color-text-primary);
    max-width: 985px;
    text-align: left;
}