.PageAdminDashboard, .PageAdminUserShow, .PageAdminUsersIndex, .PageAdminUserShow, .PageAdminWeeksIndex, .PageAdminContentItemsIndex, .PageAdminArticlesIndex, .PageAdminArticlesEdit, .PageAdminContentItemsEdit, .PageAdminContentItemsNew, .PageAdminArticlesNew, .PageAdminWeeksNew, .PageAdminWeeksEdit{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x10);
    flex: 1 1 auto;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: var(--spacing-x4);
}

.PageAdminDashboard-Tables-Group{
    display: flex;
    width: 100%;
    gap: var(--spacing-x10);
}

.button-text-style button{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: var(--font-size-p-2);
    font-family: var(--font-family-geist);
    font-weight: var(--font-weight-paragraphs);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    text-transform: var(--text-transform-as-typed);
    text-decoration: var(--text-decoration-none);
}

.AdminForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x2);
}
