.PageArticle{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x10);
    flex: 1 1 auto;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 var(--spacing-x4);
}

.PageArticle-Content{
    display: flex;
    gap: var(--spacing-x8);
    width: 100%;
    flex-direction: column;
}
  
.PageArticle-Content-Body{
    width: 100%;
    padding: var(--spacing-x3);
    border-radius: var(--border-radius-x4);
    background: var(--color-quaternary);
    border: var(--border-x025) solid var(--color-border-tertiary);
    backdrop-filter: blur(5px);
    gap: var(--spacing-x3);
    display: flex;
    flex-direction: column;
    width: 100%;
}