.PageHome{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x24);
    flex: 1 1 auto;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
.PageHome-Weeks-List{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x4);
    width: 100%;
    border-left: var(--border-x05) dashed var(--color-border-primary);
    padding: var(--spacing-x2) 0;
}