.PageInspectra{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    flex: 1 1 auto;
    height: 100%;
    padding-left: var(--spacing-x3);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.PageInspectra-Content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x16);
}
  
.PageInspectra-Section-Main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.PageInspectra-Section-Title{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x6);
    padding: var(--spacing-x16) var(--spacing-x8);
    align-items: flex-start;
}

.PageInspectra-Section-Main-Content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x16);
}
  
.PageInspectra-Section-Main-Content-Plate{
    padding: var(--spacing-x16) var(--spacing-x8);
    background: var(--color-secondary);
    border: var(--border-x05) solid var(--color-border-primary);
}
  
.PageInspectra-Section-Main-Content-Square{
    align-self: flex-end;
}
  
.PageInspectra-Section-Content-Interactions{
    display: flex;
    gap: var(--spacing-x3);
    width: fit-content;
    justify-content: center;
  }
  
.PageInspectra-Section-Inspectra{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: var(--spacing-x14);
}

.PageInspectra-Section-Inspectra-Cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--spacing-x3);
    width: 100%;
}
  
.PageInspectra-Section-Info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x14);
}

.PageInspectra-Section-Info-Blocks{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: var(--spacing-x4);
}

.PageInspectra-Section-Modules{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x14);
}

.PageInspectra-Section-Modules-Blocks{
    display: flex;
    width: 100%;
    gap: var(--spacing-x4);
    flex-direction: column;
}

.PageInspectra-Section-Modules-Text{
    padding-left: var(--spacing-x5);
    display: flex;
    gap: var(--spacing-x3);
    border-left: var(--border-x05) dashed var(--color-accent);
}

.PageInspectra-Section-Modules-Text-Title{
    color: var(--color-text-primary);
    max-width: 985px;
    text-align: left;
}

.PageInspectra-AdditionalText {
    display: flex;
    align-items: center;
    gap: var(--spacing-x2);
}

.PageInspectra-Section-Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x5);
    padding: var(--spacing-x10);
    background: var(--color-quaternary);
    border-radius: var(--border-radius-x3);
    border: var(--border-x025) solid var(--color-border-primary);
    max-width: 620px;
}

@media (max-width: 1280px) {
    .PageInspectra-Section-Info-Blocks{
        flex-direction: column;
    }

    .PageInspectra-Section-Inspectra-Cards{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .PageInspectra-Section-Inspectra-Cards{
        grid-template-columns: 1fr;
    }
}