.PageNotFound{
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: var(--spacing-x4);
}
  
.PageNotFound-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-x4);
}
  
.PageNotFound-Title{
    font-size: 8vw;
    color: var(--color-status-error);
    font-weight: var(--font-weight-paragraphs);
}