.PagePlug{
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.PagePlug-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--spacing-x4);
    padding: var(--spacing-x4) var(--spacing-x4) var(--spacing-x16) var(--spacing-x4);
}

.PagePlug-Title{
    font-weight: var(--font-weight-paragraphs);
    font-family: var(--font-family-geist);
    font-size: 6vw;
    color: var(--color-text-primary);
    white-space: nowrap;
    display: inline-block;
}

.PagePlug-Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x5);
    padding: var(--spacing-x10);
    background: var(--color-quaternary);
    border-radius: var(--border-radius-x3);
    border: var(--border-x025) solid var(--color-border-primary);
    max-width: 620px;
}

@media (max-width: 1024px) {
    .PagePlug-Container{
        flex-direction: column;
    }
    .PagePlug-Title{
        font-size: 10vw;
    }

    .PagePlug-Form{
        text-align: center;
    }
}