<form class="M_FormPlug" id="formPlug">
  <%= render 'shared/atoms/A_Input', name: 'email', placeholder: 'Email' %>
  <%= render 'shared/atoms/A_Button', text: 'ПОДПИСАТЬСЯ', action: 'submitForm', autoreset: true %>
</form>