<div class="M_NavigationItem" tabindex="0" role="link" data-href="<%= href %>">
  <%= render 'shared/wrappers/W_Icon', show: true %>
  <%= render 'shared/atoms/A_NavigationItem', text: text, href: href, hotkey: hotkey %>
</div>