<div class="M_ToastNotification <%= 'M_ToastNotification--Error' if local_assigns[:type] == 'error' %>">
    <span class="M_ToastNotification-Text text-p-1-mono"><%= local_assigns[:text] || 'Notification text' %></span>
</div>