<button class="M_ToastInteractive">
    <%= render 'shared/quarks/Q_Icon', name: 'Q_AstroidIcon', width: 24, height: 24 %>
    <span class="M_ToastInteractive-Text text-p-1-mono">обнаружен интерактив! &gt;&gt;&gt;</span>
</button>