<div class="M_VolumeSlider" data-js-volume-slider aria-label="Громкость">
  <span class="M_VolumeSlider-Label M_VolumeSlider-Label--max" aria-hidden="true">10</span>
  <div class="M_VolumeSlider-Track">
    <div class="M_VolumeSlider-Fill" data-js-volume-fill></div>
    <input type="range" class="M_VolumeSlider-Input" min="0" max="10" value="10" data-js-volume-input aria-label="Громкость" />
  </div>
  <span class="M_VolumeSlider-Label M_VolumeSlider-Label--min" aria-hidden="true">0</span>
</div>
