<div class="M_ArticleHeaderCard">
  <% if Array(article.tags).any? %>
    <div class="M_ArticleHeaderCard-Tags">
      <% Array(article.tags).each do |tag| %>
        <span class="M_ArticleHeaderCard-Tag text-p-3"><%= tag.to_s.upcase %></span>
      <% end %>
    </div>
  <% end %>

  <h1 class="M_ArticleHeaderCard-Title text-h2"><%= article.title %></h1>

  <% if article.cover_image.attached? %>
    <div class="M_ArticleHeaderCard-Cover">
      <%= image_tag article.cover_image, alt: article.title, class: 'M_ArticleHeaderCard-CoverImage' %>
    </div>
  <% end %>

  <% if article.respond_to?(:description) && article.description.present? %>
    <p class="M_ArticleHeaderCard-Description text-p-1-mono"><%= article.description %></p>
  <% end %>
</div>