<h1>Статья</h1>
<p>Это статья в дне <%= params[:day_id] %></p>
<p>ID статьи: <%= params[:id] %></p>

<p><a href="/days/<%= params[:day_id] %>">Назад к дню <%= params[:day_id] %></a></p>
<p><a href="/">На главную</a></p>
