<div class="C_BreadcrumbsItems">
  <% (local_assigns[:items] || []).each_with_index do |item, index| %>
    <%= render 'shared/molecules/M_BreadcrumbsItem', 
        text: item[:text], 
        href: item[:href], 
        type: item[:type] %>
    <% unless index == (local_assigns[:items] || []).length - 1 %>
      <%= render 'shared/quarks/Q_Icon', name: 'Q_ArrowDividerIcon', width: 6, height: 9 %>
    <% end %>
  <% end %>
</div>

