<div class="O_ControlPanelTable-HeaderRow">
  <% (local_assigns[:cells] || []).each do |cell| %>
    <div class="O_ControlPanelTable-HeaderCell text-labels-2">
      <%= cell %>
    </div>
  <% end %>
</div>

