<div class="C_ControlPanelTableHeaderRow">
  <% (local_assigns[:cells] || []).each do |cell| %>
    <div class="C_ControlPanelTableHeaderRow-Cell text-labels-2">
      <%= cell %>
    </div>
  <% end %>
</div>

