<div class="C_DotsPlug">
  <div class="C_DotsPlug-Left">
      <%= render 'pages/Q_Square' %>
      <span class="C_DotsPlug-Left-Square"><%= render 'pages/Q_Square' %></span>
  </div>
  <%= render 'pages/Q_Square' %>
</div>