<%= link_to week_path(week), class: "O_CardWeekCurrent" do %>
    <div class="O_CardWeekCurrent-Header">
        <span class="O_CardWeekCurrent-Label text-label"><%= "WEEK_#{week.number}" %></span>
    </div>
    <div class="O_CardWeekCurrent-Body" data-week-number="<%= week.number %>">
        
    </div>
<% end %>

