.M_CardWeek404{
    padding: var(--spacing-x3);
    background: var(--gradient-surface-soft);
    background-position: left bottom;
    background-size: 200% 200%;
    width: 100%;
    border-radius: var(--border-radius-x3);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.M_CardWeek404::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--gradient-border);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.M_CardWeek404-Label{
    color: var(--color-state-text-inactive);
}