.M_CardWeek404{
    padding: var(--spacing-x3);
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(30deg, rgb(132 132 132 / 20%) -10%, rgb(0 0 0 / 20%) 30%);
    background-position: left bottom;
    background-size: 200% 200%;
    width: 100%;
    border-radius: var(--border-radius-x3);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.M_CardWeek404::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(85deg, rgb(58 58 58 / 50%), rgb(255 255 255 / 25%));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.M_CardWeek404-Label{
    color: var(--color-state-text-inactive);
}