.M_ContentTimer-Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-x3);
    backdrop-filter: blur(5px);
    background: radial-gradient(circle at center, rgb(0 0 0 / 10%),rgb(255 255 255 / 5%));
}

.M_ContentTimer-Text{
    color: var(--color-text-primary);
    text-align: center;
}