.M_ContentTimer-Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-x3);
    position: relative;
}

.M_ContentTimer-Wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    /* TODO: вынести градиент в переменную */
    background: radial-gradient(circle at center, rgb(255 255 255 / 5%), rgb(0 0 0 / 0%));
    mask: radial-gradient(circle at center, black 60%, transparent 100%);
    -webkit-mask: radial-gradient(circle at center, black 60%, transparent 100%);
    pointer-events: none;
    z-index: 0;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.M_ContentTimer-Text{
    color: var(--color-text-primary);
    text-align: center;
    position: relative;
    z-index: 1;
}