.M_NotificationItem{
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--spacing-x3);
    background: var(--color-quaternary);
    border-radius: var(--border-radius-x2);
    border: 1px solid var(--color-border-primary);
}

.M_NotificationItem-Text{
    color: var(--color-text-primary);
}

