.M_NotificationTitle {
    width: 100%;
    padding: var(--spacing-x2) var(--spacing-x3);
    background: var(--color-primary);
    border-radius: var(--border-radius-x3);
    position: relative;
    overflow: hidden;
}

.M_NotificationTitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(85deg, rgb(58 58 58 / 50%), rgb(255 255 255 / 25%));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.M_NotificationTitle-Text {
    color: var(--color-text-primary);
    position: relative;
    z-index: 1;
}

