.M_ProfileContentPlug{
    padding: var(--spacing-x3);
    background: var(--gradient-surface);
    background-position: left bottom;
    background-size: 200% 200%;
    width: 100%;
    border-radius: var(--border-radius-x3);
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-x3);
}

.M_ProfileContentPlug::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    background: var(--gradient-border);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.M_ProfileContentPlug-Label{
    color: var(--color-text-primary);
}
