.M_ProfileInfoPlug{
    padding: var(--spacing-x2) var(--spacing-x3);
    background: var(--color-quaternary);
    border: var(--border-x025) solid var(--color-border-tertiary);
    border-radius: var(--border-radius-x4);
    backdrop-filter: blur(5px);
}

.M_ProfileInfoPlug-Text-Wrapper{
    padding: var(--spacing-x2);
    border-left: var(--border-x025) dashed var(--color-border-secondary);
}

.M_ProfileInfoPlug-Text{
    color: var(--color-text-primary);
    text-align: left;
}