.M_ToastNotification{
    position: fixed;
    bottom: var(--spacing-x4);
    left: 50%;
    transform: translateX(-50%);
    padding: var(--spacing-x3) var(--spacing-x5);
    background: var(--color-secondary);
    border-radius: var(--border-radius-x4);
    border: var(--border-x025) solid var(--color-notification);
    backdrop-filter: blur(5px);
    width: fit-content;
    max-width: 428px;
    animation: toastAppear 0.3s ease-out forwards;
    opacity: 0;
    z-index: 1000;
}

.M_ToastNotification-Text{
    color: var(--color-text-primary);
    text-align: center;
}

.M_ToastNotification--Error{
    border-color: var(--color-status-error);
}

.M_ToastNotification--Hiding{
    animation: toastDisappear 0.3s ease-out forwards;
}

@keyframes toastAppear {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes toastDisappear {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}
