.M_ToastInteractive{
    position: fixed;
    bottom: var(--spacing-x4);
    left: 50%;
    transform: translateX(-50%);
    padding: var(--spacing-x3) var(--spacing-x5);
    background: var(--color-secondary);
    border-radius: var(--border-radius-x4);
    border: var(--border-x025) solid var(--color-notification);
    backdrop-filter: blur(5px);
    width: fit-content;
    animation: toastAppear 0.3s ease-out forwards;
    opacity: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: var(--spacing-x5);
    cursor: pointer;
}

.M_ToastInteractive-Text{
    color: var(--color-text-primary);
    text-align: center;
}

.M_ToastInteractive--Hiding{
    animation: toastDisappear 0.3s ease-out forwards;
}

@keyframes toastAppear {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes toastDisappear {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}
