.M_VolumeSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-x2);
  background: var(--color-quinary);
  padding: var(--spacing-x1);
  /* TODO: вынести в константу */
  backdrop-filter: blur(4px);
}

.M_VolumeSlider-Track {
  position: relative;
  width: 8px;
  height: 72px;
  background: var(--color-primary);
  border-radius: var(--border-radius-x1);
  cursor: pointer;
}

.M_VolumeSlider-Fill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-text-primary);
  border-radius: 6px;
  pointer-events: none;
  transition: height 0.1s ease;
}

.M_VolumeSlider-Input {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 8px;
  margin: -4px 0 0 -36px;
  opacity: 0;
  cursor: ns-resize;
  z-index: 1;
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(-90deg);
  transform-origin: center center;
}

.M_VolumeSlider-Input::-webkit-slider-runnable-track,
.M_VolumeSlider-Input::-moz-range-track {
  cursor: ns-resize;
}

.M_VolumeSlider-Input::-webkit-slider-thumb,
.M_VolumeSlider-Input::-moz-range-thumb {
  cursor: ns-resize;
}
