<div class="O_Navigation">
  <% if local_assigns[:admin_navigation] %>
    <%= render 'shared/wrappers/W_NavigationBar', admin_navigation: true %>
    <%= render 'shared/wrappers/W_NavigationContent', admin_navigation: true %>
  <% else %>
    <%= render 'shared/wrappers/W_NavigationBar' %>
    <%= render 'shared/wrappers/W_NavigationContent' %>
  <% end %>
</div>