<div class="O_Notifications">
  <%= render 'shared/molecules/M_NotificationTitle' %>
  <%= render 'shared/wrappers/W_NotificationsBar' %>
  <%= render 'shared/wrappers/W_NotificationsContent' %>
</div>

