<div class="O_SidebarTablet" aria-hidden="true">
  <div class="O_SidebarTablet-Left">
    <%= render 'shared/organisms/O_Navigation' %>
  </div>
  <div class="O_SidebarTablet-Right">
    <%= render 'shared/organisms/O_Notifications' %>
  </div>
</div>

