<%
  opened = local_assigns[:opened] ? 'true' : 'false'
%>

<button class="A_ArrowButton" type="button" aria-expanded="<%= opened %>">
  <span class="A_ArrowButton-Icon">
    <%= render 'shared/Q_Icon', name: 'A_ArrowButtonIcon', width: 8, height: 8 %>
  </span>
</button>