<div class="Q_BackgroundCircle">
  <svg class="Q_BackgroundCircle-SVG" viewBox="0 0 100 100" aria-hidden="true" focusable="false">
    <circle class="Q_BackgroundCircle-Circle" cx="50" cy="50" r="50" />
  </svg>
</div>