<div class="W_NavigationContent">
  <%= render 'shared/W_NavigationItems', index: 0, items: [
    { text: 'HOME', href: root_path,  hotkey: 'H' },
    { text: 'ABOUT', href: about_path, hotkey: 'A' }
  ] %>

  <%= render 'shared/W_NavigationItems', index: 1, items: [
    { text: 'BLOCKS', href: '#blocks' }
  ] %>
</div>