<nav class="W_Navigation">
  <%= render 'shared/A_NavigationItem', text: 'HOME', href: root_path, hotkey: 'H' %>
  <%= render 'shared/A_NavigationItem', text: 'ABOUT', href: about_path, hotkey: 'A' %>
</nav>