<div class="W_NavigationItems" data-index="<%= local_assigns[:index] %>">
  <%= render 'shared/W_NavigationLine' %>
  <%= render 'shared/C_NavigationItems', items: (local_assigns[:items] || []) %>
</div>