.O_Breadcrumbs{
    display: flex;
    width: 100%;
    padding: var(--spacing-x3);
    border-radius: var(--border-radius-x2);
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(30deg, rgb(132 132 132 / 20%) -20%, rgb(0 0 0 / 20%) 30%);
    position: relative;
}

.O_Breadcrumbs::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(85deg, rgb(58 58 58 / 50%), rgb(255 255 255 / 25%));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}