.O_CardWeekCurrent{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x4);
}

.O_CardWeekCurrent-Header{
    padding: var(--spacing-x2);
    background: var(--color-primary);
}

.O_CardWeekCurrent-Body{
    width: 100%;
    height: 248px;
    background: var(--color-secondary);
    border-radius: var(--border-radius-x5);
    padding: var(--spacing-x2);
    overflow: hidden;
    position: relative;
}

.CodeSymbolGenerator-Background{
    position: absolute;
    top: -5%;
    left: -5%;
    width: 100%;
    height: 100%;
    font-family: GeistMono;
    font-weight: var(--font-weight-headers);
    font-size: 120px;
    line-height: 1;
    color: var(--color-text-secondary);
    opacity: 0.1;
    display: flex;
    flex-direction: column;
    gap: 0;
    pointer-events: none;
    z-index: 0;
}

.CodeSymbolGenerator-Line{
    white-space: nowrap;
    overflow: visible;
}

.O_CardWeekCurrent-Body-Image{
    width: 80px;
    height: 56px;
}

.O_CardWeekCurrent-Body-Image-Image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.O_CardWeekCurrent-Body-Content{
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing-x4);
    border-left: var(--border-x05) dashed var(--color-border-primary);
}