.O_CardWeekCurrent{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x4);
}

.O_CardWeekCurrent-Header{
    padding: var(--spacing-x2);
    background: var(--color-primary);
}

.O_CardWeekCurrent-Body{
    padding: var(--spacing-x2);
    display: flex;
    gap: var(--spacing-x3);
    align-items: center;
    width: 100%;
    background: var(--color-secondary);
}

.O_CardWeekCurrent-Body-Image{
    width: 80px;
    height: 56px;
}

.O_CardWeekCurrent-Body-Image-Image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.O_CardWeekCurrent-Body-Content{
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing-x4);
    border-left: var(--border-x05) dashed var(--color-border-primary);
}