.O_Footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x2);
    padding: var(--spacing-x4) var(--spacing-x4) var(--spacing-x2) var(--spacing-x4);
    background: var(--color-primary);
}

.O_Footer-Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--spacing-x4);
}

.O_Footer-Content-Side{
    width: 100%;
    display: flex;
}

.O_Footer-Content-Side-List{
    display: flex;
    flex-direction: column;
}

.O_Footer-Content-Side-Item{
    color: var(--color-text-primary);
}

.O_Footer-Content-Center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-x4);
    width: 100%;
}

.O_Footer-Content-Center-Text{
    color: var(--color-text-primary);
    text-align: center;
}

.O_Footer-Content-Side-Right{
    justify-content: flex-end;
}