<div style="min-height:100vh;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center">
  <%= render 'pages/O_HeaderPlug' %>
  <%= render 'pages/M_FormPlug' %>
  <%= render 'shared/O_Footer' %>
</div>
