<div style="min-height:100vh;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center">
  <%= render 'pages/O_HeaderPlug' %>
  <div class="PagePlug-Container">
    <h1 class="PagePlug-Title">Мы — Inspectra</h1>
    <%= render 'pages/M_FormPlug' %>
  </div>
  <%= render 'shared/O_Footer' %>
</div>
