<div style="min-height:100vh;width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center">
  <%= render 'pages/O_HeaderPlug' %>
  <div class="PagePlug-Container">
    <h1 class="PagePlug-Title">Мы — Inspectra</h1>
    <div class='PagePlug-Form'>
      <p class="PagePlug-Form-Text text-p-1">
        Медиа о цифровых расследованиях и интерактивах.<br>
        Расследование цифровой среды начинается скоро.
      </p>
      <%= render 'pages/M_FormPlug' %>
    </div>
  </div>
  <%= render 'shared/O_Footer' %>
</div>
