<div class="PagePlug">
  <%= render 'shared/organisms/O_HeaderPlug' %>
  <div class="PagePlug-Container">
    <h1 class="PagePlug-Title">Мы — Inspectra</h1>
    <div class='PagePlug-Form'>
      <p class="PagePlug-Form-Text text-p-1">
        Медиа о&nbsp;цифровых расследованиях и&nbsp;интерактивах. Расследование цифровой среды начинается скоро.
      </p>
      <%= render 'shared/molecules/M_FormPlug' %>
    </div>
  </div>
  <%= render 'shared/atoms/A_InspectraBackground' %>
</div>
