<h1><%= @day.title %></h1>
<ul>
  <% @content_items.each do |item| %>
    <% if item.kind == 'article' && item.article %>
      <li><%= link_to "ARTICLE: #{item.article.title}", day_article_path(@day, item.article) %></li>
    <% else %>
      <li><%= item.kind.upcase %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to 'На главную', root_path %>
