<h1>Day <%= params[:id] %></h1>

<h2>Контент дня:</h2>
<ul>
  <li>IMAGE</li>
  <li>GIF</li>
  <li>VIDEO</li>
  <li>AUDIO</li>
  <li>LINK</li>
  <li><a href="/days/<%= params[:id] %>/articles/1">ARTICLE</a></li>
</ul>

<p><a href="/">На главную</a></p>
