<div class="A_InspectraBackground">
  <div class="A_InspectraBackground-Line-Vertical"></div>
  <div class="A_InspectraBackground-Line-Horizontal"></div>
  <div class="A_InspectraBackground-Circle A_InspectraBackground-Circle-Center"><%= render 'shared/quarks/Q_BackgroundCircle' %></div>
  <div class="A_InspectraBackground-Sides">
    <%= render 'shared/quarks/Q_BackgroundCircle' %>
    <%= render 'shared/quarks/Q_BackgroundCircle' %>
  </div>
</div>