<div class="W_Checkbox">
    <input type="checkbox" value="<%= local_assigns[:value] %>" <% if local_assigns[:checked] %>checked<% end %> style="display: none;">
    <%= render 'shared/quarks/Q_Checkbox' %>
</div>