<% 
  input_id = local_assigns[:id] || local_assigns[:name]
  input_name = local_assigns[:name] || 'password'
  placeholder = local_assigns[:placeholder]
  autocomplete = local_assigns[:autocomplete] || 'current-password'
  style_attr = local_assigns[:max_width] ? "max-width: #{local_assigns[:max_width]};" : nil
%>

<div class="W_InputPassword" data-target="<%= input_id %>" style="<%= style_attr %>">
  <%= render 'shared/atoms/A_Input', id: input_id, name: input_name, type: 'password', autocomplete: autocomplete, placeholder: placeholder, required: local_assigns[:required], autocapitalize: 'none', spellcheck: false, data_form_type: 'other' %>
  <button type="button" class="W_InputPassword-Toggle" aria-label="toggle password" aria-pressed="false">
    <span class="W_InputPassword-Icon" data-state="hidden">
      <%= render 'shared/quarks/Q_Icon', name: 'Q_PasswordNonVisionIcon', width: 16, height: 16 %>
    </span>
  </button>
</div>


