<div class="W_NotificationsBar">
  <div class="W_NotificationsBar-Item" data-index="0">
    <%= render 'shared/molecules/M_NavigationBar', icon_name: 'Q_UnreadIcon', icon_width: 16, icon_height: 16, text: 'Unread mess', arrow: { opened: true } %>
  </div>
  <div class="W_NotificationsBar-Item" data-index="1">
    <%= render 'shared/molecules/M_NavigationBar', icon_name: 'Q_ArchiveIcon', icon_width: 16, icon_height: 16, text: 'Archive', arrow: { opened: false } %>
  </div>
</div>

