<div class="W_NotificationsContent">
  <div class="W_NotificationsContent-Item" data-index="0">
    <%= render 'shared/molecules/M_NotificationItem', text: 'Unread message 1' %>
    <%= render 'shared/molecules/M_NotificationItem', text: 'Unread message 2' %>
  </div>
  <div class="W_NotificationsContent-Item W_NotificationsContent-Item--Hidden" data-index="1">
    <%= render 'shared/molecules/M_NotificationItem', text: 'Archived message 1' %>
    <%= render 'shared/molecules/M_NotificationItem', text: 'Archived message 2' %>
  </div>
</div>

