<div class="W_Sidebar">
  <div class="W_Sidebar-Top">
      <%= render 'shared/collections/C_NavigationDots' %>
      <div class="W_Sidebar-Top-Content">
          <%= render 'shared/atoms/A_Logo', name: 'A_Logo', size: 'Small' %>
          <% unless local_assigns[:skip_navigation] %>
            <%= render 'shared/organisms/O_Navigation' %>
          <% end %>
      </div>
  </div>
  <div class="W_Sidebar-Preview">
    <%= render 'weeks/O_ContentPreview' %>
  </div>
</div>