.A_IconButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: radial-gradient(circle at center, rgb(0 0 0 / 10%),rgb(255 255 255 / 5%));
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    border-radius: var(--border-radius-x2);
}

.A_IconButton--Absolute{
    position: absolute;
}

.A_IconButton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(85deg, rgb(58 58 58 / 50%), rgb(255 255 255 / 25%));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
    z-index: -1;
}

.A_IconButton:disabled{
    cursor: not-allowed;
    color: var(--color-state-text-inactive);
}

.A_IconButton:disabled img{
    opacity: 0.5;
}