.A_Input{
  width: 100%;
  padding: var(--spacing-x3);
  background: var(--color-background);
  color: var(--color-state-text-inactive);
  border: var(--border-x05) solid var(--color-state-inactive);
  outline: none;
  transition: all .2s ease;
}

.A_Input::placeholder{
  color: var(--color-text-tertiary);
}

.A_Input:focus,
.A_Input:active{
  border-color: var(--color-border-primary);
  color: var(--color-state-text-active);
}

.A_Input--Error{
  border-color: var(--color-status-error);
  color: var(--color-status-error);
}

.A_Input:disabled{
  cursor: not-allowed;
  color: var(--color-state-text-inactive);
  border-color: var(--color-state-inactive);
  background: var(--color-secondary);
}

.A_Input:-webkit-autofill,
.A_Input:-webkit-autofill:hover,
.A_Input:-webkit-autofill:focus,
.A_Input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-state-text-active);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
  box-shadow: 0 0 0px 1000px var(--color-background) inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: var(--color-state-text-active);
}