.A_Logo {
  display: inline-block;
  line-height: 0;
}

.A_Logo img {
  width: 100%;
  height: auto;
  display: block;
}

.A_Logo--Small { width: 101px; height: 28px; }
.A_Logo--Large { width: 448px; height: 124px; }
