.A_TextArea{
  width: 100%;
  padding: var(--spacing-x3);
  background: var(--color-background);
  color: var(--color-state-text-inactive);
  border: var(--border-x025) solid var(--color-state-inactive);
  outline: none;
  transition: all .2s ease;
  border-radius: var(--border-radius-x2);
  min-height: 120px;
  resize: vertical;
}

.A_TextArea::placeholder{
  color: var(--color-text-tertiary);
}

.A_TextArea:focus,
.A_TextArea:active{
  border-color: var(--color-border-primary);
  color: var(--color-state-text-active);
}

.A_TextArea--Error{
  border-color: var(--color-status-error);
  color: var(--color-status-error);
}

.A_TextArea:disabled{
  cursor: not-allowed;
  color: var(--color-state-text-inactive);
  border-color: var(--color-state-inactive);
  background: var(--color-secondary);
}

