<p>Вы запросили сброс пароля.</p>
<p>Перейдите по ссылке, чтобы задать новый пароль:</p>
<p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>
<p>Если вы не запрашивали сброс, просто игнорируйте это письмо.</p>


