/*
	*= require fonts
	*= require themes
	*= require constants
  *= require ./components/index
*/

body {
  background-color: #131313;
  color: #fff;
  box-sizing: border-box;
  font-family: 'GeistMono';
}

nav {
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #d9d9d9;
  text-decoration: none;
  font-family: 'Geist';
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.C_DaysGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}