/*
	*= require fonts
	*= require themes
	*= require constants
  *= require ./components/index
  *= require ./pages/index
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  box-sizing: border-box;
  font-family: 'GeistMono';
  min-height: 100vh;
  height: 100%;
}

a{
  color: var(--color-text-primary);
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
}

.PageWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.PageLayout{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--spacing-x1);
  box-sizing: border-box;
}
