@layer theme {
  html.theme-transitioning,
  html.theme-transitioning * {
    transition:
      background-color 0.55s ease,
      color 0.55s ease,
      border-color 0.55s ease,
      box-shadow 0.55s ease;
  }

  :root {
    --color-accent: rgb(255 255 255 / 100%);
    --color-primary: rgb(32 32 32 / 80%);
    --color-secondary: rgb(19 19 19 / 80%);
    --color-tertiary: rgb(0 0 0 / 100%);
    --color-quaternary: rgb(31 31 31 / 20%);
    --color-quinary: rgb(0 0 0 / 20%);
    --color-background: rgb(7 7 7 / 100%);
    --color-background-overlay: rgb(23 23 23 / 90%);
    --color-status-error: rgb(177 0 0 / 100%);
    --color-status-success: rgb(255 255 255 / 100%);
    --color-notification: rgb(0 123 255 / 100%);
    --color-state-inactive: rgb(77 77 77 / 100%);
    --color-state-text-inactive: rgb(93 93 93 / 100%);
    --color-state-active: rgb(19 18 18 / 100%);
    --color-state-text-active: rgb(255 255 255 / 100%);
    --color-state-hover: rgb(31 31 31 / 100%);
    --color-state-text-hover: rgb(255 255 255 / 100%);
    --color-state-loading: rgb(77 77 77 / 100%);
    --color-state-text-loading: rgb(159 159 159 / 100%);
    --color-state-focus: rgb(255 255 255 / 100%);
    --color-text-primary: rgb(255 255 255 / 100%);
    --color-text-secondary: rgb(255 255 255 / 70%);
    --color-text-tertiary: rgb(255 255 255 / 50%);
    --color-border-primary: rgb(150 150 150 / 100%);
    --color-border-secondary: rgb(150 150 150 / 50%);
    --color-border-tertiary: rgb(150 150 150 / 20%);
  }

  [data-theme='white'] {
    /* TODO: временное решение до дизайна */
    --color-accent: rgb(0 0 0 / 100%);
    --color-primary: rgb(240 240 240 / 95%);
    --color-secondary: rgb(250 250 250 / 95%);
    --color-tertiary: rgb(255 255 255 / 100%);
    --color-quaternary: rgb(240 240 240 / 60%);
    --color-quinary: rgb(255 255 255 / 20%);
    --color-background: rgb(255 255 255 / 100%);
    --color-background-overlay: rgb(255 255 255 / 95%);
    --color-status-error: rgb(180 0 0 / 100%);
    --color-status-success: rgb(0 100 0 / 100%);
    --color-notification: rgb(0 80 200 / 100%);
    --color-state-inactive: rgb(200 200 200 / 100%);
    --color-state-text-inactive: rgb(100 100 100 / 100%);
    --color-state-active: rgb(230 230 230 / 100%);
    --color-state-text-active: rgb(0 0 0 / 100%);
    --color-state-hover: rgb(220 220 220 / 100%);
    --color-state-text-hover: rgb(0 0 0 / 100%);
    --color-state-loading: rgb(200 200 200 / 100%);
    --color-state-text-loading: rgb(80 80 80 / 100%);
    --color-state-focus: rgb(0 0 0 / 100%);
    --color-text-primary: rgb(0 0 0 / 100%);
    --color-text-secondary: rgb(0 0 0 / 70%);
    --color-text-tertiary: rgb(0 0 0 / 50%);
    --color-border-primary: rgb(100 100 100 / 100%);
    --color-border-secondary: rgb(100 100 100 / 50%);
    --color-border-tertiary: rgb(100 100 100 / 20%);
  }

  [data-theme='acid-green'] {

  }
}


