@layer theme {
  :root {
    --color-accent: rgb(255 255 255 / 100%);
    --color-primary: rgb(32 32 32 / 80%);
    --color-secondary: rgb(19 19 19 / 80%);
    --color-tertiary: rgb(0 0 0 / 100%);
    --color-background: rgb(7 7 7 / 100%);
    --color-background-overlay: rgb(23 23 23 / 90%);
    --color-status-error: rgb(177 0 0 / 100%);
    --color-status-success: rgb(255 255 255 / 100%);
    --color-notification: rgb(0 123 255 / 100%);
    --color-state-inactive: rgb(77 77 77 / 100%);
    --color-state-text-inactive: rgb(93 93 93 / 100%);
    --color-state-active: rgb(0 0 0 / 100%);
    --color-state-text-active: rgb(255 255 255 / 100%);
    --color-state-hover: rgb(0 0 0 / 100%);
    --color-state-text-hover: rgb(255 255 255 / 100%);
    --color-state-loading: rgb(77 77 77 / 100%);
    --color-state-text-loading: rgb(159 159 159 / 100%);
    --color-state-focus: rgb(255 255 255 / 100%);
    --color-text-primary: rgb(255 255 255 / 100%);
    --color-text-secondary: rgb(255 255 255 / 70%);
    --color-text-tertiary: rgb(255 255 255 / 50%);
    --color-border-primary: rgb(150 150 150 / 100%);
    --color-border-secondary: rgb(150 150 150 / 50%);
    --color-border-tertiary: rgb(150 150 150 / 20%);
  }

  [data-theme='white'] {

  }

  [data-theme='acid-green'] {

  }
}


