<div class="M_ProfileStatisticRow">
    <span class="M_ProfileStatisticRow-Label text-p-1"><%= local_assigns[:label] %></span>
    <span class="M_ProfileStatisticRow-Value text-p-1"><%= local_assigns[:value] %></span>
</div>