<div class="M_ProfileInfoPlug">
    <div class="M_ProfileInfoPlug-Text-Wrapper">
        <span class="M_ProfileInfoPlug-Text text-p-1-mono">
            <%= local_assigns[:text] %>
        </span>
    </div>
</div>