<div class="M_ProfileContentPlug">
    <%= render 'shared/quarks/Q_Icon', name: 'Q_StarIcon', width: 24, height: 24 %>
    <%= render 'shared/quarks/Q_Icon', name: 'Q_ArrowDividerIcon', width: 6, height: 9 %>
    <span class="M_ProfileContentPlug-Label text-p-1-mono"><%= local_assigns[:info] %></span>
</div>