.W_ErrorConsole{
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
}

.W_ErrorConsole-Header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-x2);
    color: var(--color-status-error);
}

.W_ErrorConsole-Content{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-x2);
    gap: var(--spacing-x4);
}

.W_ErrorConsole-Content-Code-Error{
    color: var(--color-status-error);
}

.W_ErrorConsole-Content-Code-Response{
    color: var(--color-status-error);
}