.W_Icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    opacity: 0;
    transition: opacity .15s ease;
}

.M_NavigationItem:focus-within .W_Icon{
    opacity: 1;
}
