.W_InputPassword{
    position: relative;
    width: 100%;
}

.W_InputPassword-Toggle{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.W_InputPassword-Icon{ pointer-events: none; }

