.W_NavigationContent{
    display: flex;
    width: 100%;
    gap: var(--spacing-x1);
    padding: var(--spacing-x2);
    background: var(--color-primary);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-x2);
}

.W_NavigationContent::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(85deg, rgb(58 58 58 / 50%), rgb(255 255 255 / 25%));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
}