.W_NavigationBar{
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--spacing-x1);
    padding: var(--spacing-x2);
    background: var(--color-primary);
}

.W_NavigationBar-Item{
    flex: 1 1 0;
}

.W_NavigationBar-Item:only-child{
    flex: 1 1 100%;
}

.W_NavigationBar-Item--Hidden{
    display: none;
}