.W_PageHeader{
    display: flex;
    width: 100%;
    gap: var(--spacing-x3);
    position: sticky;
    top: var(--spacing-x1);
    z-index: 1;
}

.W_PageHeader-Inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x4);
}

.W_PageHeader--OnlyNotifications{
    justify-content: flex-end;
    align-items: flex-end;
}

@media (max-width: 600px) {
    .W_PageHeader{
        flex-direction: column;
        align-items: center;
    }
}