.W_PageHeader{
    display: flex;
    width: 100%;
    gap: var(--spacing-x3);
    position: relative;
    z-index: 1;
}

.W_PageHeader-Inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x4);
}
