.W_PageHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x3);
    position: relative;
    z-index: 1;
}

.W_PageHeader-Console{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: var(--spacing-x2);
    border-bottom: var(--border-x05) dashed var(--color-border-primary);
    gap: var(--spacing-x1);
}

.W_PageHeader-Timer{
    padding: var(--spacing-x6);
    max-width: 350px;
    width: 100%;
    text-align: center;
    background: var(--color-secondary);
    border: var(--border-x05) solid var(--color-border-primary);
}