.W_Sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    min-width: 360px;
    flex-shrink: 0;
    padding: var(--spacing-x4);
    gap: var(--spacing-x3);
    position: sticky;
    top: var(--spacing-x1);
    align-self: flex-start;
    height: calc(100vh - 2 * var(--spacing-x1));
    z-index: 1;
    border-radius: var(--spacing-x3);
    background: radial-gradient(circle at center, rgb(0 0 0 / 10%),rgb(255 255 255 / 5%));
    background-size: 200% 200%;
    background-position: center center;
    backdrop-filter: blur(6px);
    overflow: hidden;
}

.W_Sidebar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    /* TODO: вынести градиент в переменную */
    background: linear-gradient(85deg, rgb(58 58 58 / 50%), rgb(255 255 255 / 25%));
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.W_Sidebar-Top{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x8);
}

.W_Sidebar-Top-Content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x5);
}

@media (max-width: 768px) {
    .W_Sidebar{
        display: none;
    }
}