.W_Sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    height: 100vh;
    padding: var(--spacing-x2) var(--spacing-x4);
    gap: var(--spacing-x3);
    position: sticky;
}

.W_Sidebar-Top{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x8);
}

.W_Sidebar-Top-Content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-x3);
}

@media (max-width: 768px) {
    .W_Sidebar{
        display: none;
    }
}